
/* base styling */
*{ 
    font-family: sans-serif;
    text-decoration: none;
    text-decoration-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #666666;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: 1rem;
}

.navbar-links ul{
    margin: 0;
    
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.event-manager  a{
    list-style: none;
    text-decoration: none;

}

.navbar-links li a {
    text-decoration: none;
    color:  white;
    padding: 1rem;
    display: block;
}



.navbar-links li:hover {
    background-color:  #888888;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;


}

@media (max-width: 600px) {

        
        .toggle-button {
            display: flex;
        }
        .navbar-links {
            width: 100%;
        }
        .navbar {
            flex-direction: column;
            align-items: flex-start;
            
        }
        .navbar-links ul {
            width: 100%;
            flex-direction: column;
        }

        .navbar-links li {
            text-align: center;
        }

        .navbar-links.active {
            display: flex;
        }

        
       
}



/*
Homepage
*/

body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
    padding: 0;

}


.newsbar {
    font-size: 14px;
    margin-left: auto;
    margin-top: auto;
    margin-top: 3rem;
    justify-content:center ;
    text-decoration-color: black;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.news-item {
    
    border: 1px solid #000; 
    padding: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
@media (max-width: 600px) {
    .newsbar{
        flex-direction: column;
    }
}



/*
Log In page
*/

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1em;
}

.inline-group {
    display: flex;
    align-items: center;
}

.inline-group label {
    margin-right: 1em;
}

.inline-group input {
    margin-left: auto; 
}

.inline-group select {
    margin-right: 1em;
}

.inline-group select {
    margin-left: auto; 
}


label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
}

textarea {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    resize: vertical; /* Allow vertical resizing */
}



label {
    color: black; 
}
input[type="text"],
input[type="password"] {
    width: 250px; 
    padding: 10px; 
    border: 1px solid ; 
    border-radius: 5px; 
}
button {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    padding: 10px; 
    background-color: #666666; 
    color: white; 
    border: none;
    border-radius: 5px; 
}

button:hover {
    background-color: #888888; 
}












