
/* base styling */
*{ 
    font-family: sans-serif;
    text-decoration: none;
    text-decoration-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #666666;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: 1rem;
}

.navbar-links ul{
    margin: 0;
    
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none
}

.navbar-links li a {
    text-decoration: none;
    color:  white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color:  #888888;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;


}

@media (max-width: 600px) {

        
        .toggle-button {
            display: flex;
        }
        .navbar-links {
            width: 100%;
        }
        .navbar {
            flex-direction: column;
            align-items: flex-start;
            
        }
        .navbar-links ul {
            width: 100%;
            flex-direction: column;
        }

        .navbar-links li {
            text-align: center;
        }

        .navbar-links.active {
            display: flex;
        }

        #wrapper{
            display: none;
        }
       
}



/*
Homepage
*/

body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
    padding: 0;

}


.newsbar {
    font-size: 14px;
    margin-left: auto;
    margin-top: auto;
    margin-top: 3rem;
    justify-content:center ;
    text-decoration-color: black;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.news-item {
    
    border: 1px solid #000; 
    padding: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
@media (max-width: 600px) {
    .newsbar{
        flex-direction: column;
    }
}



/*
Log In page
*/


.login-form {
    display: flex;
    flex-direction: column;
    align-items:flex-start; /* Center the form horizontally */
    justify-content: flex-start; /* Center the form vertically */
    margin-left: auto;
    margin-right: auto;
    height: 100vh; 
    padding-top: 5em;
}
.form-group {
    margin-bottom: 1em; /* Add margin between form groups */
}

#log-in-title{
    align-items: center;

}
label {
    color: black; 
}
input[type="text"],
input[type="password"] {
    width: 250px; 
    padding: 10px; 
    border: 1px solid ; 
    border-radius: 5px; 
}
button {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    padding: 10px; 
    background-color: #666666; 
    color: white; 
    border: none;
    border-radius: 5px; 
}
button:hover {
    background-color: #888888; 
}

/*
Registration page
*/
.registration-form {
    display: flex;
    align-content: flex-start;
    /* padding-left: 200px;
    padding-top: 50px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 0;
    
}
.group-1{
    display: flex;
    flex-direction:column;
    align-items: left; /* Center the form horizontally */
    margin-left: auto;
    margin-right: auto;
    margin-right: 2em; /* keep space between lable and input */
    /* padding-left: 30px;
    padding-right: 30px; */
}
.group-2{
    display: flex;
    flex-direction:column;
    align-items: left; /* Center the form horizontally */
    padding-top: 2em;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 30px;
    padding-right: 30px; */
}

@media (max-width: 600px) {

    .registration-title{
        margin-bottom: 2em;
        text-align: center;
    }

    .registration-form {
        flex-direction: column;
        text-align: center;
        margin-top: 1em;
    }
    .group-1{
        width: 100%;
        padding-top: 1em;
    }
    .group-2{
        width: 100%;
        padding-top: 1em;
        
    }

    .register-button{
        align-items:center;
    }
}

@media (min-width: 600px) {

    #mobile-wrapper{
        display: none;
    }
    #mobile-calendar{
        display: none;
    }
}


table {
    width: 100%;
    border-collapse: collapse;
}
th{
    height: 50px; 
}
td {
    text-align: center; 
    vertical-align: top;
    padding-top: 5px;
    height: 100px;  
}

.weekend {
    background: #e0e0e0;
}
.next-month {
    background: #f5f5f5;

}
.wrapper {
    max-width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;

}
#mobile-calendar{
    margin-top: 2rem;
    
}

#mobile-calendar-button{
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
}


.mobile-calendar-navigation{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
}



