
/* base styling */
*{ 
    font-family: sans-serif;
    text-decoration: none;
    text-decoration-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #666666;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: 1rem;
}

.navbar-links ul{
    margin: 0;
    
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none
}

.navbar-links li a {
    text-decoration: none;
    color:  white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color:  #888888;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;


}

@media (max-width: 600px) {

        
        .toggle-button {
            display: flex;
        }
        .navbar-links {
            width: 100%;
        }
        .navbar {
            flex-direction: column;
            align-items: flex-start;
            
        }
        .navbar-links ul {
            width: 100%;
            flex-direction: column;
        }

        .navbar-links li {
            text-align: center;
        }

        .navbar-links.active {
            display: flex;
        }

        #wrapper{
            display: none;
        }
       
}



/*
Homepage
*/

body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
    padding: 0;

}








label {
    color: black; 
}
input[type="text"],
input[type="password"] {
    width: 250px; 
    padding: 10px; 
    border: 1px solid ; 
    border-radius: 5px; 
}
.register-button {
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    padding: 10px; 
    background-color: #666666; 
    color: white; 
    border: none;
    border-radius: 5px; 
}
.register-button:hover {
    background-color: #888888; 
}

/*
Registration page
*/



.main-content{
    display: flex;
    flex-direction: column;
}
.registration-form {
    display: flex;
    align-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    
}
.group-1{
    display: flex;
    flex-direction:column;
    align-items: left; /* Center the form horizontally */
    margin-left: auto;
    margin-right: auto;
    margin-right: 2em; /* keep space between lable and input */

}
.group-2{
    display: flex;
    flex-direction:column;
    align-items: left; /* Center the form horizontally */
    margin-left: auto;
    margin-right: auto;

}

.form-group{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    padding: 10px; 
    background-color: #666666; 
    color: white; 
    border: none;
    border-radius: 5px; 
}
button:hover {
    background-color: #888888; 
}

@media (max-width: 600px) {

    .registration-title{
        text-align: center;
    }

    .registration-form {
        flex-direction: column;
        text-align: center;
        margin: 0;

    }
    .group-1{
        width: 100%;
        /* padding-top: 1em; */
    }
    .group-2{
        width: 100%;
        /* padding-top: 1em; */
        
    }

    .register-button{
        align-items:center;
    }
}

@media (min-width: 600px) {

    #mobile-wrapper{
        display: none;
    }
    #mobile-calendar{
        display: none;
    }
}