
/* base styling */
*{ 
    font-family: sans-serif;
    text-decoration: none;
    text-decoration-color: black;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
    padding: 0;

}


/* navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #666666;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: 1rem;
}

.navbar-links ul{
    margin: 0;
    
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.event-manager  a{
    list-style: none;
    text-decoration: none;

}

.navbar-links li a {
    text-decoration: none;
    color:  white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color:  #888888;
}

/* responsive navigation */
@media (max-width: 600px) {    
        .toggle-button {
            display: flex;
        }
        .navbar-links {
            width: 100%;
        }
        .navbar {
            flex-direction: column;
            align-items: flex-start;
            
        }
        .navbar-links ul {
            width: 100%;
            flex-direction: column;
        }

        .navbar-links li {
            text-align: center;
        }

        .navbar-links.active {
            display: flex;
        }

        #wrapper{
            display: none;
        }
       
}



/* create news item */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1em;
}

.inline-group {
    display: flex;
    align-items: center;
}

.inline-group label {
    margin-right: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
    color: black; 
}

textarea {
    width: 100%;
    height: 200px; 
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    resize: vertical; 
}

/* title input */
.inline-group {
    display: flex;
    align-items: center;
}

.inline-group label {
    margin-right: 1em;
}


/* text box */
input[type="text"] {
    width: 250px; 
    padding: 10px; 
    border: 1px solid ; 
    border-radius: 5px; 
}

/* sumbit button */
button {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    padding: 10px; 
    background-color: #666666; 
    color: white; 
    border: none;
    border-radius: 5px; 
}

button:hover {
    background-color: #888888; 
}




















