
/* base styling */
*{ 
    font-family: sans-serif;
    text-decoration: none;
    text-decoration-color: black;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
    padding: 0;

}

/* navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #666666;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: 1rem;
}

.navbar-links ul{
    margin: 0;
    
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none
}

.navbar-links li a {
    text-decoration: none;
    color:  white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color:  #888888;
}

/* responsive navigation */
@media (max-width: 600px) {

        .navbar-links {
            width: 100%;
        }
        .navbar {
            flex-direction: column;
            align-items: flex-start;
            
        }
        .navbar-links ul {
            width: 100%;
            flex-direction: column;
        }

        .navbar-links li {
            text-align: center;
        }

        .navbar-links.active {
            display: flex;
        }
       
}




/* event manager */
.event-manager-form {
    display: flex;
    align-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    
}

.group-1{
    display: flex;
    flex-direction:column;
    align-items: left; 
    margin-left: auto;
    margin-right: 1em; 

}
.group-2{
    display: flex;
    flex-direction:column;
    align-items: left;
    margin-left: auto;
    margin-right: auto;

}

.group-1 label {
    margin-right: 1em;
}

.group-1 input {
    margin-left: auto; 
}

.form-group{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


/* responsive element */
@media (max-width: 600px) {

    .registration-title{
        text-align: center;
    }

    .event-manager-form{
        flex-direction: column;
        text-align: center;
        margin: 0;

    }
    .group-1{
        width: 100%;
    }
    .group-2{
        width: 100%;
        
    }


    /* responsive buttons */
    button{
        align-items:center;
    }
}

/* lables and inputs */
label {
    color: black; 
}
input[type="text"],
input[type="password"] {
    width: 250px; 
    padding: 10px; 
    border: 1px solid ; 
    border-radius: 5px; 
}

/* buttons */
button {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    padding: 10px; 
    background-color: #666666; 
    color: white; 
    border: none;
    border-radius: 5px; 
}
button:hover {
    background-color: #888888; 
}

.buttons{
    margin-bottom: 1rem;
}